* {
  color: green;
  cursor: default;
  font: 700 1em "BenchNine", sans-serif;
}

html,
body {
  background-color: black;
  color: green;
  margin: 0;
}

#welcome-login {
  border: solid 1px;
  border-radius: 1em;
  margin: 0 5%;
  opacity: 0;
  position: fixed;
  text-align: center;
  width: 90%;
  z-index: 99;
}

h1 {
  font-size: 5em;
  margin: 0;
}

#login-input {
  background: black;
  border: solid 1px;
  border-radius: 1em;
  cursor: text;
  margin-bottom: 1em;
  opacity: 0;
  outline: none;
  text-align: center;
  width: 10em;
}

#terminal {
  border: none;
  height: calc(100% - 3em);
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  width: 100%;
}

#root {
  bottom: 0;
  height: 2.6em;
  opacity: 0;
  position: fixed;
  text-align: center;
  width: 1em;
}

#input {
  background: black;
  border: none;
  bottom: 1em;
  cursor: text;
  display: none;
  height: 1.9em;
  margin: 0;
  outline: none;
  opacity: 0;
  position: fixed;
  right: 0;
  width: calc(100% - 1em);
}

#blinking {
  -webkit-animation: blink 1s linear 0s infinite;
  -moz-animation: blink 1s linear 0s infinite;
  -ms-animation: blink 1s linear 0s infinite;
  -o-animation: blink 1s linear 0s infinite;
  animation: blink 1s linear 0s infinite;
}

@-webkit-keyframes blink {
  from {
    color: #000;
  }

  to {
    color: #fff;
  }
}

@-moz-keyframes blink {
  from {
    color: #000;
  }

  to {
    color: #fff;
  }
}

@-ms-keyframes blink {
  from {
    color: #000;
  }

  to {
    color: #fff;
  }
}

@-o-keyframes blink {
  from {
    color: #000;
  }

  to {
    color: #fff;
  }
}

@keyframes blink {
  from {
    color: #000;
  }

  to {
    color: #fff;
  }
}

#time {
  opacity: 0;
  position: fixed;
  right: 1em;
  top: 0.5em;
}

#objectives {
  opacity: 0;
  position: fixed;
  right: 0.5em;
  top: 1em;
  width: 25%;
}

#won,
#lost {
  display: none;
  opacity: 0;
}

#objectives li {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0em 0em 0.5em rgba(0, 255, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0em 0em 0.25em rgba(0, 255, 0, 0.5);
}

footer {
  bottom: 0;
  font-size: 0.8em;
  position: fixed;
  text-align: center;
  width: 100%;
}
